<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- my style -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" type="text/css"/> -->
    <title>The Macroni</title>
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="img/pic.png" alt="" width="100" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#iklan">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#rasa">Rasa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#kontak">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wa.me/+6281261916086">Beli Ah!</a>
            </li>
        </div>
      </div>
    </nav>

    <!-- end navbar -->

    <!-- jumbotron -->

    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 text-center">
            <video autoplay muted loop class="myVideo">
              <source src="img/slowmo.mp4" type="video/mp4">
            </video>
          <!-- <iframe src="img/slowmo.mp4" width="500px"></iframe> -->
          <!-- <img src="img/macroni.png" class="image-jumbotron" > -->
          </div>
          <div class="col-md-6 col-sm-12">
            <h1>The Macroni</h1>
            <p class="lead">Sehat Lezat Cruncy</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error excepturi fuga similique laudantium vero nisi maiores accusantium ratione molestiae itaque repellat eum odio, iste quam id amet facilis necessitatibus perspiciatis.</p>
            <a class="btn btn-lg btn-warning" href="https://wa.me/+6281261916086">Beli Sekarang</a>
          </div>
        </div>
       
      </div>
    </div>

    <!--end jumbotron -->


    <div class="space"></div>



    <!-- carosel -->
    <section id="iklan">
    <div class="background-carousel">
      <div class="container-fluid caroselku">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/banner-01.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/banner-macroni.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </section>
     
   
    <!-- end carosel -->
    <div class="space"></div>

      <section id="rasa">
        <div class="container-fluid">
          <h1 class="text-center">Pilih Rasa Kesukaanmu</h1>
          <div class="row mt-5 content-rasa">
            <div class="col-sm-12 col-md-8">
              <h2>Pedas</h2>
              <p>
                Rasa pedas special dari the macroni memiliki sensasi luar biasa dengan rasa manis diluar namun gurih pedas dan asin meledak di dalam menjadikannya cita rasa luar biasa.
              </p>
            
            </div>
            <div class="col-sm-12 col-md-4">
              <img src="img/pedas.png" class="image-rasa shadow">
            </div>    
          </div>
          <div class="row mt-5 content-rasa">
            <div class="col-sm-12 col-md-8">
              <h2>Sapi Lada Hitam</h2>
              <p>
                Rasa daging sapi yang gurih di padukan dengan pedas tipis-tipis khas lada hitam menjadikan rasa ini masuk top list.
              </p>
            
            </div>
            <div class="col-sm-12 col-md-4">
              <img src="img/balado.png" class="image-rasa shadow">
            </div>    
          </div>
          <div class="row mt-5 content-rasa">
            <div class="col-sm-12 col-md-8">
              <h2>Daun Jeruk Pedas</h2>
              <p>
                Daun jeruk pedas memiliki wangi khas daun jeruk yang kuat, tidak hanya itu pedas dan asam pun terpadu pada rasa ini, rasa ini juga tergolong unik jadi boleh dicoba sih.
              </p>
            
            </div>
            <div class="col-sm-12 col-md-4">
              <img src="img/jeruk.jpg" class="image-rasa shadow">
            </div>    
          </div>
          <div class="row mt-5 content-rasa">
            <div class="col-sm-12 col-md-8">
              <h2>Jagung Bakar</h2>
              <p>
                Rasa jagung bakar adalah perpaduan antara gurih, asin, dan manis yang berpadu sempurna dengan kriuknya the macroni menjadi cemilan sempurna untuk sehari-hari
              </p>
            
            </div>
            <div class="col-sm-12 col-md-4">
              <img src="img/jagung-bakar.png" class="image-rasa shadow">
            </div>    
          </div>
          <div class="row mt-5 content-rasa">
            <div class="col-sm-12 col-md-8">
              <h2>BBQ Sapi</h2>
              <p>
                BBQ Sapi, kalian pasti sudah tidak asing dengan rasa sapi, maka pada BBQ Sapi ini melekat kuat rasa asap daging sapi.
              </p>
            
            </div>
            <div class="col-sm-12 col-md-4">
              <img src="img/sapi-panggang.png" class="image-rasa shadow">
            </div>    
          </div>
          <div class="row mt-5 content-rasa">
            <div class="col-sm-12 col-md-8">
              <h2>Keju</h2>
              <p>
                Rasa asin khas keju dan rasa manis khas susu yang belum difermentasi  berpadu menjadi rasa keju manis yang lezat  dapat anda rasakan dalam the macroni varian keju manis ini.   
              </p>
            
            </div>
            <div class="col-sm-12 col-md-4">
              <img src="img/keju.png" class="image-rasa shadow">
            </div>    
          </div>
          <div class="row mt-5 content-rasa">
            <div class="col-sm-12 col-md-8">
              <h2>Pizza</h2>
              <p>
                Pizza 🍕 pasti kalian udah ga asing dengan rasa ini, manis asin asinya Perfecto namun rasa pizza yang samar dan rasa saus pizza lezat yang berasa di lidah.
              </p>
            
            </div>
            <div class="col-sm-12 col-md-4">
              <img src="img/pizza.jpg" class="image-rasa shadow">
            </div>    
          </div>
          <div class="row mt-5 content-rasa">
            <div class="col-sm-12 col-md-8">
              <h2>Ayam Panggang</h2>
              <p>
                Ayam yang dipanggang dengan rasa sedikit asam dan seperti ayam.
              </p>
            
            </div>
            <div class="col-sm-12 col-md-4">
              <img src="img/ayam-panggang.jpg" class="image-rasa shadow">
            </div>    
          </div>
          <div class="row mt-5 content-rasa">
            <div class="col-sm-12 col-md-8">
              <h2>Wasabi</h2>
              <p>
                wasabi a.k.a lobak pedas jepang memiliki rasa pedas yang berbeda dari cabai pada umumnya, rasanya unik dan hanya orang-orang unik juga yang suka.
              </p>
            
            </div>
            <div class="col-sm-12 col-md-4">
              <img src="img/wasabi.jpg" class="image-rasa shadow">
            </div>    
          </div>
        </div>
      </section>
    



    <!-- contact -->
    <section id="kontak">

      <div class="container-fluid iklan">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <img src="img/img-contact.png" alt="" class="gambar-iklan">
            </div>
    
            <div class="col-sm-12 col-md-6 mt-sm-5 align-self-center ps-4">
             
                  <h2>Bareli bareli macroni ngenah YEUH!!!</h2>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum, fuga neque amet impedit similique veritatis itaque. Magnam, pariatur ipsa animi quam, tempora quae reprehenderit aliquid accusantium tempore iusto sapiente.
              

                  <div class="sosmed mt-5">
                    <p>
                      <img src="img/instagram.png" width="50px">
                      Coming Soon
                    </p>
                    <p>
                      
                        <img src="img/shopee.ico" width="50px">
                        Coming Soon
                      
                    </p>
                  </div>
                 
            </div>  
            </div>
          </div>
  
        </div>
   
      </section>
    </div>
  <!-- end sosmed -->


    <footer>  
      <p class="text-center">&copy; The Macroni - 2022</p>
    </footer>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <script>
        const li = document.querySelectorAll(".nav-item");
        const section = document.querySelectorAll("section");

        function activeMenu(){
          let len = section.length;
          while(--len && window.scrollY + 200 < section[len].offsetTop){}
          li.forEach(ltx => ltx.classList.remove("active"));
          li[len].classList.add("active");
        }
        activeMenu();
        window.addEventListener("scroll", activeMenu);
    </script> -->
   
  </body>
</html>

